@import "../../Variables/variables.scss";

.teams-container {
  min-height: 100vh;
  font-family: $Sfpro;
  display: flex;
  flex-direction: row;
  @include centerElements();

  .teams-content,
  .list-games {
    display: flex;
    flex-direction: column;
  }

  .teams-content {
    width: 700px;
    min-height: 900px;
    padding: 20px;

    .header-teams {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;

      .page-title {
        font-size: $FontXXL;
        font-weight: 700;
      }

      .icon-new-teams {
        font-size: 40px;
        margin-top: -10px;
        cursor: pointer;
      }
    }

    .link-create-new-teams {
      align-self: center;
      color: $DarkGrey;
      cursor: pointer;
      margin-bottom: 40px;
    }

    .list-teams {
      grid-gap: 20px;
      display: flex;
      flex-direction: column;
      .team-container {
        display: flex;
        flex-direction: row;
        border: 1px solid $BlackBasket;
        justify-content: space-between;
        padding: 15px 25px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        .team-info-container {
          align-items: center;
        }

        .team {
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          span {
            font-size: $FontMedium;
          }
        }

        .options-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;

          .option-game {
            @include centerElements();
            width: 80px;
            height: 100%;
            cursor: pointer;

            & svg {
              padding: 19px 27px;
            }

            & svg:hover {
              transform: scale(1.2);
              -moz-transform: scale(1.2); /* Firefox */
              -webkit-transform: scale(1.2); /* Chrome - Safari */
              -o-transform: scale(1.2); /* Opera */
              -ms-transform: scale(1.2); /* IE9 */
            }
          }

          .edit-game {
            background: $EditColor;
            &:hover {
              background: #a4a4a4;
            }
          }

          .delete-game {
            background: $RedBasket;
            &:hover {
              background: #e20e0e;
            }
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
