@import "../../Variables/variables.scss";

.popup-content-container {
  height: 80%;
}
.five-starting-popup-back {
  font-size: 34px;
  position: absolute;
  color: $DarkGrey;
  cursor: pointer;
}

.five-starting-title {
  text-align: center;
}

.five-starting-description {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: $FontXL;
  margin-bottom: 50px;
}

.button-continue-finish {
  margin-bottom: 15px;
  background-color: $BasketOrange;
  font-size: $FontXXL;
  font-weight: 510;
  cursor: pointer;
  border: 3px solid $BasketOrange;
  padding: 10px 5px;
  border-radius: 8px;
  color: $BlackBasket;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.button-continue-finish:disabled,
.button-continue-finish[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}