@import "../../Variables/variables.scss";

.type-results-completion-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  li {
    width: 100%;
    border: 2px solid $BlackBasket;
    border-radius: 10px;
    height: 60px;
    display: grid;
    place-content: center;
    font-size: $FontXL;
    cursor: pointer;
  }
}

.back-button {
  width: 100%;
  background: $White;
  border: 2px solid $BasketOrange;
  color: $BasketOrange;
  font-size: $ArrowButtonBack;
  cursor: pointer;
  margin-bottom: 20px;
}
