@import "../../Variables/variables.scss";

.select-basic{
    margin-bottom:33px;
}

.input-date{
  padding:10px;
  border-radius: 4px;
  outline:none;
  border:1px solid hsl(0, 0%, 80%);
  &:focus{
    border:2px solid #2684FF;
  }
  margin-bottom:33px;
}

.button-continue{
  margin-bottom: 15px;
  background-color: $White;
  font-size: $FontVeryLarge;
  font-weight: 510;
  cursor: pointer;
  border: 3px solid $BasketOrange;
  padding: 5px;
  border-radius: 8px;
  color: $BasketOrange;
  text-decoration: none;
  text-align: center;
}