@mixin centerElements() {
  display: grid;
  place-content: center;
}

/*Colours*/
$White: #ffffff;
$LightGrey: #f5f5f5;
$DarkGrey: #aeaeae;
$BasketOrange: #f0a500;
$RedBasket: #ff3b30;
$BlackBasket: #000000;
$InvalidFormat: #cf7500;
$ShareColor: #7acfff;
$EditColor: #e7e7e7;

$White: #ffffff;
$LightGrey: #f5f5f5;
$DarkGrey: #aeaeae;
$BasketOrange: #f0a500;
$RedBasket: #ff3b30;
$BlackBasket: #000000;
$InvalidFormat: #cf7500;

/*Font-Family*/
$Sfpro: Sfpro-Regular;
$Inter: Inter-Regular;

/*Font-Size*/
$FontSmall: 14px;
$FontMedium: 20px;
$FontL: 24px;
$FontXL: 26px;
$FontXXL: 30px;
$FontXXLL: 32px;

/* Universal styles */
/* Container for input */
.input-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

/* General input  */
.input-basic {
  padding: 18px 19px;
  outline: none;
  border: 1px solid $DarkGrey;
  border-radius: 10px;
  font-size: $FontMedium;
  font-weight: 510;
}

/* Only input submit */
.input-submit {
  margin-bottom: 15px;
  background-color: $BasketOrange;
  font-size: $FontXXL;
  font-weight: 510;
  cursor: pointer;
  border: none;
  padding: 18px 19px;
  border-radius: 10px;
  color: $BlackBasket;
  text-decoration: none;
  text-align: center;
}

/* General input placeholder  */
.input-basic::placeholder {
  color: $DarkGrey;
}

/* Span Неверный формат */
.format-invalid-open {
  color: $InvalidFormat;
  font-family: $Inter;
  font-style: italic;
  margin-top: 5px;
  display: block;
}

.format-invalid-closed {
  display: none;
}

/* Input active - inactive */

.input-inactive {
  border: 1px solid $DarkGrey;
  color: $BlackBasket;
}

.input-active {
  border: 1px solid $BasketOrange;
  color: $BasketOrange;
}

.input-error {
  border: 1px solid $RedBasket;
  color: $RedBasket;
}

.confirm-box {
  left: 40% !important;
  top: 40% !important;
  font-family: $Sfpro;
}

.confirm-box__actions {
  justify-content: space-evenly !important;
}

.confirm-box__content span {
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.confirm-box__actions button {
  border: 1px solid $BasketOrange;
  color: $White;
  font-size: 18px;
  background-color: $BasketOrange;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.confirm-box__actions button:hover {
  background: $White;
  color: $BasketOrange;
}
