@import '../../Variables/variables.scss';

.popup-reset-password-container{
    position: absolute;
    height: 72%;
    width: 700px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    left: 0;
    right:0;
    margin:auto;
    bottom: -16%;
    padding: 20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.popup-close-icon {
    position: relative;
    left: 98%;
    font-size: 26px;
    font-weight: 700;
    cursor: pointer;
    line-height: none;
}

.popup-title {
    font-size: $FontVeryLarge;
    margin-bottom: 30px;
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup-description {
    margin-bottom: 40px;
    font-size: $FontMedium;
}

.set-popup-close {
    display: none;
}

.set-popup-open {
    display: block;
    animation: fadeIn 1s;
}

.span-time-wait{
    font-family: $Inter;
    color: $DarkGrey;
    margin-bottom:25px;
    align-self: center;
}

.red-message{
    color: $RedBasket;
    margin-bottom:25px;
}

.popup-reset-password-open{
    display:block;
}

.popup-reset-password-closed{
    display:none;
}

@keyframes fadeIn {
    from {
        bottom: -30%;
    }

    to {
        bottom: -16%;
    }
}