  @font-face {
    font-family: Sfpro-Regular;
    src: local('SfproRegular'), url("../Fonts/Sfpro-Regular.otf") format('truetype');
  }

  @font-face {
    font-family: Inter-Regular;
    src: local('InterRegular'), url("../Fonts/Inter-Regular.ttf") format('truetype');
  }

  :root {
    /*Colours*/
    --LightGrey: #F5F5F5;
    --DarkGrey: #AEAEAE;
    --BasketOrange: #F0A500;
    --RedBasket: #FF3B30;
    --BlackBasket: #000000;

    /*Font-Family*/
    --Sfpro: Sfpro-Regular;
    --Inter: Inter-Regular;

    /*Font-Size*/
    --FontSmall: 14px;
    --FontMedium: 20px;
    --FontLarge: 24px;
    --FontVeryLarge: 30px;
  }