  @font-face {
    font-family: Sfpro-Regular;
    src: local('SfproRegular'), url("../Fonts/Sfpro-Regular.otf") format('truetype');
  }

  @font-face {
    font-family: Inter-Regular;
    src: local('InterRegular'), url("../Fonts/Inter-Regular.ttf") format('truetype');
  }

  :root {
    /*Colours*/
    --LightGrey: #F5F5F5;
    --DarkGrey: #AEAEAE;
    --BasketOrange: #F0A500;
    --RedBasket: #FF3B30;
    --BlackBasket: #000000;
    --InvalidFormat: #CF7500;

    /*Font-Family*/
    --Sfpro: Sfpro-Regular;
    --Inter: Inter-Regular;

    /*Font-Size*/
    --FontSmall: 14px;
    --FontMedium: 20px;
    --FontLarge: 24px;
    --FontVeryLarge: 30px;
  }

  /* Universal styles */
  /* Container for input */
  .input-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  /* General input  */
  .input-basic {
    padding: 18px 19px;
    outline: none;
    border: 1px solid var(--DarkGrey);
    border-radius: 10px;
    font-size: var(--FontMedium);
    font-weight: 510;
  }

  /* Only input submit */
  .input-submit {
    margin-bottom: 15px;
    background-color: var(--BasketOrange);
    font-size: var(--FontVeryLarge);
    font-weight: 510;
    cursor: pointer;
    border: none;
  }

  /* General input placeholder  */
  .input-basic::placeholder {
    color: var(--DarkGrey);
  }

  /* Span Неверный формат */
  .format-invalid-open {
    color: var(--InvalidFormat);
    font-family: var(--Inter);
    font-style: italic;
    margin-top: 5px;
    display: block;
  }

  .format-invalid-closed {
    display: none;
  }

  /* Input active - inactive */

  .input-inactive {
    border: 1px solid var(--DarkGrey);
    color: var(--BlackBasket);
  }

  .input-active {
    border: 1px solid var(--BasketOrange);
    color: var(--BasketOrange);
  }