.signup-container {
    min-height: 100vh;
    font-family: var(--Sfpro);
    display: grid;
    place-content: center;
}

.signup-content {
    width: 700px;
    padding: 20px 20px 46px 20px;
}

#form-signup {
    display: flex;
    flex-direction: column;
}

.title-page {
    margin-bottom: 85px;
    font-size: var(--FontVeryLarge);
    font-weight: 700;
}

#label-password {
    margin-bottom: 27px;
    font-size: var(--FontSmall);
    font-weight: 500;
}

#forgot-password {
    color: var(--BlackBasket);
    font-weight: 700;
    align-self: center;
    letter-spacing: 2px;
}

#label-password,
#forgot-password {
    font-family: var(--Inter);
}